.posts {
  width: 40rem;
  margin: 2rem auto;
  padding: 1rem;
  list-style: none;
  background-color: #eae2e2;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.posts li {
  margin: 1rem;
  text-transform: capitalize;
  color: #292626;
}
div #listItem {

}

ul{
  border: 2px solid;
  border-radius: 25px;
  width: 500px;
  padding: 20px;
  background-color: bisque;
}

